<div class="background-for-animations">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
</div>
<div class="wrapper">
  <div class="title">
    <div class="drop-main">
      <div class="p">P</div>
      <div class="l">L</div>
      <div class="a">A</div>
      <div class="y">Y</div>
      <div class="t">T</div>
      <div class="o">O</div>
      <div class="p2">P</div>
      <div class="i">I</div>
      <div class="a2">A</div>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button color="warn" class="option">
      Start a Random Game!
    </button>
    <button
      mat-raised-button
      color="warn"
      class="option"
      routerLink = "games-list"
    >
      View Games List
    </button>
  </div>
</div>
