// @import '~@angular/material/theming';
@use '@angular/material' as mat;

@include mat.core();

$my-theme-primary: mat.define-palette(mat.$deep-orange-palette);
$my-theme-accent: mat.define-palette(mat.$amber-palette, A700);
$my-theme-warn: mat.define-palette(mat.$grey-palette, 900);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-theme-primary,
   accent: $my-theme-accent,
   warn: $my-theme-warn,
 ),
//  typography: mat.define-typography-config(),
//  density: 0,
));

@include mat.all-component-themes($my-theme);